.page
  min-height: calc(100vh -  100px)
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  animation: forwards 1s show

.image-pet
  max-width: 600px
  width: 100%
  display: block
  margin: auto

h2,
p
  text-align: center

@keyframes show
  0%
    opacity: 0
  100%
    opacity: 1